@import url('https://fonts.googleapis.com/css2?family=Alice&family=Beau+Rivage&family=Cinzel:wght@400;500;600&family=Courgette&family=Forum&family=Great+Vibes&family=Pacifico&family=Satisfy&display=swap');


div#container {
  // border: 2px solid red;
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;


  div.photoContainer {
    // border: 1px solid #16b7f8;
    border-radius: 7px;
    width: 45%;
    box-shadow: 0.1px 0.2px 7px 0.1px #16b8f83a;
    // height: max-content;

    div.photo {
      // border: 1px solid #16b7f8;
      margin: 5px;

      img {
        width: 100%;
        border-radius: 5px;
        // height: 100%;
      }
    }

    div.photoTitle {
      // border: 2px solid red;
      border-top: 1px solid #16b8f8;
      font-family: 'Cinzel', cursive;
      padding: 2px 5px;
      text-align: left;
      margin-top: 7px;
    }

    
  }
}

@media only screen and (max-width: 600px) {

  div#container {
    flex-direction: column;
    gap: 35px;


    div.photoContainer {
      // border: 2px solid red;
      width: 90%;
    }
  }

  
}